@import url("https://fonts.cdnfonts.com/css/google-sans");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Product Sans", sans-serif;
  height: 100%;
}
body::-webkit-scrollbar {
  width: 0;
  height: 0;
  background: transparent;
}

#container {
  display: flex;
  height: 100vh;
  border: none;
  width: 100vw;
}

#sidebar-left {
  width: 5.5%;
  background-color: #202225;
  color: #ffffff;
  text-align: center;
  border: none;
  overflow-y: hidden;
  overflow-x: hidden;
}

#sidebar-right {
  width: 15%;
  background-color: #36393f;
  color: #ffffff;
  border: none;
}

.discord__img__container {
  padding-top: 20px;
}

.discord__img {
  width: 70%;
  text-align: center;
  border-radius: 50%;
  object-fit: contain;
}

.server__images {
  padding-top: 20px;
  position: relative;
  transition: all 0.5s;
}

.server__img {
  border-radius: 50%;
  margin: 2px;
  width: 70%;
  text-align: center;
  object-fit: contain;
  position: relative;
  transition: border-radius 0.5s;
}

.server__img:hover {
  /* Change the border radius to 0 when hovered over */
  border-radius: 15%;
  cursor: pointer;
}

.server__images:after {
  /* Hide the pseudo-element by default */
  content: "";
  display: none;
  /* Position the pseudo-element */
  position: absolute;
  top: 30%;
  left: 100%;
  /* Add a small black background and white text */
  background-color: black;
  color: white;
  /* Set the size of the pseudo-element */
  width: 50px;
  height: 50px;
  /* Center the text */
  display: flex;
  align-items: center;
  justify-content: center;

  /* Set the initial opacity to 0 */
  opacity: 0;
}

.server__images:hover:after {
  /* Display the pseudo-element when hovered over */
  display: block;
  /* Add the server name */
  content: "Open A.I";

  opacity: 100;
}

#sidebar-right {
  text-align: center;
}

#sidebar-right input {
  width: 90%;
  margin-top: 15px;
  background-color: #202225;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
}

#sidebar-right input::placeholder {
  color: lightgray;
  font-weight: 500;
}

.parameters {
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}

.fields {
  display: flex;
  align-items: center;
  margin-left: 0.75rem;
  margin-top: 20px;
  margin-right: 20px;
}

.ri-user-add-fill {
  font-size: 20px;
  color: lightgray;
}

.icon {
  padding-right: 0.75rem;
}

.font-text {
  font-size: 15px;
  color: lightgray;
  font-weight: 500;
  cursor: pointer;
}

.ri-snowy-fill {
  font-size: 20px;
  color: lightgray;
}

.ri-mail-send-fill {
  color: lightgray;
  font-size: 20px;
}

.direct__messages {
  display: flex;
  padding-top: 40px;
  justify-content: space-between;
  padding-left: 25px;
}

.ri-add-fill {
  font-size: 20px;
  color: lightgray;
}

.direct__messages p {
  color: lightgray;
  font-weight: 500;
  font-size: 12px;
  cursor: pointer;
}

.messages {
  display: flex;
  padding-left: 20px;

  flex-direction: column;
}

.message__1 {
  display: flex;
  align-items: center;
  padding-top: 10px;
  cursor: pointer;
}

.message__1 p {
  color: lightgray;
}

.messages__img {
  position: relative;
}

.message__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  object-fit: contain;
}

.message__text {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.bottom-box {
  display: none;
  /* position: fixed;

  bottom: 0;
  left: 10;
  width: 15%;
  height: 60px;
  background-color: #262930;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
/* Other styling for the bottom box goes here */
}

.profile-picture {
  /* Styling for the profile picture goes here */
  width: 40px;
  padding-top: 10px;
  margin-left: 10px;
}

.bottom__icons {
  display: flex;
  margin-left: 16px;
  align-items: center;
  cursor: pointer;
  /* Other styling for the icons goes here */
}

.bottom__icon {
  font-size: 20px;
  padding-right: 10px;
  display: flex;
  align-items: center;
}

.bottom__img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
  object-fit: contain;
  cursor: pointer;
}

.profile__box {
  display: flex;
  align-items: center;
}
.message__username {
  display: flex;
  align-items: center;
}
.message__time {
  font-size: 0.65rem;
  font-style: italic;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: #e2e8f0;
}

.profile__text {
  margin-left: 20px;
}

.profile__code {
  color: lightgrey;
  font-size: 11px;
  padding-right: 20px;
}

.ri-headphone-fill,
.ri-phone-fill,
.ri-settings-5-fill {
  color: lightgray;
}

#main-content {
  flex: 1 1 100%;
  background-color: #424549;
  border: none;
  color: white;
  height: 100%;
  
}

#main-content header {
  display: flex;
  padding-top: 12px;

  justify-content: space-between;
}

.header__icons {
  display: flex;
  align-items: flex-end;
}

.header__icon {
  padding-right: 20px;
  font-size: 24px;
  color: lightgray;
  cursor: pointer;
}
.header__icon1 {
  padding-right: 20px;
  font-size: 24px;
  color: lightgray;
  cursor: pointer;
}

.header__text {
  display: flex;
  align-items: center;
}

.header__text span {
  padding-right: 20px;
  margin-left: 20px;
  color: lightgray;
  font-size: 20px;
}

.header__text p {
  font-size: 17px;
  font-weight: 700;
}

.online-indicator {
  background-color: rgb(16, 201, 16);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-left: 10px;
}
.message__box.message__poll {
  display: flex;
}
.checkmark-none {
  display: none;
}
.checkmark-none.checkmark {
  width: 20px;
  display: flex;
  align-items: center;
  
}

.header__search {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  background-color: #3b3d3f;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  outline: none;
}

.ri-user-add-fill {
  font-size: 30px;
}

#main-content input::placeholder {
  color: white;
  font-weight: 500;
}

.input-container {
  position: fixed;
  bottom: 50px;
  width: 80%;
  display: flex;
  margin-left: 20px;
  padding-right: 10px;
  align-items: center;
  overflow: hidden;
  text-overflow: ellipsis;
  z-index: 50;
}

.input-box {
  width: 95%;
  outline: none;
  background-color: #575c62;
  border: none;
  height: 40px;
  color: white;
  font-weight: 200;
  border-radius: 10px;
  padding-left: 30px;
  overflow-wrap: break-word;
}

.input-container i {
  position: absolute;
  /* add this line */
  margin-left: 10px;
}

#main-content input {
  overflow-wrap: break-word;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #eee;
  border-radius: 10px;
}

#main-content input::placeholder {
  color: lightgray;
  font-weight: 500;
}
.messages__box {
  display: flex;
  flex-direction: column;
}
.message__box {
  display: flex;
  padding-top: 10px;
  padding-left: 20px;
}
.message__text__text {
  display: flex;
  padding-bottom: 10px;
  flex-direction: column;
  margin-top: 3px;
  padding-left: 10px;
  flex-wrap: wrap;
  width: 500px;
  word-wrap: break-word;
}
.message__text1 {
  color: lightgray;
  width: 200px;
  word-wrap: break-word;
}
.submit {
  display: none;
}

@media only screen and (max-width: 600px) {
  #sidebar-right {
    display: none;
  }
  #sidebar-left {
    width: 20%;
    border: none;
  }
  #main-content {
    flex: 1 1 100%;
    overflow-y: scroll;
    
  }
  .header__icon {
    display: none;
  }
  .message__text__text {
    width: 300px;
    word-wrap: break-word;
  }
  .header__icon1 {
    width: 15%;
  }
  .online-indicator {
    display: none;
  }
  .message__box {
    padding-right: 25px;
  }
  .input-container {
    width: 70%;
  }
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}
@media (max-width: 800px) and (min-width: 600px) {
  #sidebar-right {
    display: none;
  }
  #sidebar-left {
    width: 10%;
    border: none;
  }
  #main-content {
    flex: 1 1 100%;
  }
  .header__icon {
    display: none;
  }
  .message__text__text {
    width: 400px;
    word-wrap: break-word;
  }
  .header__icon1 {
    width: 15%;
  }
  .online-indicator {
    display: none;
  }
  .message__box {
    padding-right: 25px;
  }
}
@media (max-width: 1000px) and (min-width: 801px) {
  #sidebar-left {
    width: 10%;
    border: none;
  }
  #sidebar-right {
    width: 30%;
  }
  #main-content {
    width: 60%;
  }
  .online-indicator {
    display: none;
  }
  .bottom-box {
    width: 30%;
  }
  .input-container {
    width: 55%;
  }
}
@media (max-width: 600px) and (min-width: 200px) {
  #sidebar-right {
    display: none;
  }
  #sidebar-left {
    width: 20%;
    border: none;
  }
  #main-content {
    flex: 1 1 100%;
  }
  .header__icon {
    display: none;
  }
  .message__text__text {
    width: 400px;
    word-wrap: break-word;
  }
  .header__icon1 {
    width: 15%;
  }
  .online-indicator {
    display: none;
  }
  .message__box {
    padding-right: 25px;
  }
  body::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
  }
}
@media only screen and (min-width: 600px) {
  #main-content {
  
    border: none;
    height: 100%;
    width: fit-content;
    overflow-y: scroll;
  }
}
.login__bg{
  background-color: #424549;
  height: 100vh ;
 
}
.login__forum{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__hero__image{
  width: 70% ;
}
.login__header__image{
  width: 40% ;

}


 .login__hero {
  width: 100%; /* or some other width */
  
  display: flex ;
  align-items: center ;
  justify-content: center ;
}
.login__header{
  width: 100%; /* or some other width */
  justify-content: center ;
  display: flex ;
  align-items: center ;
  padding-top: 40px;
}
.hero__text{
  color: lightgray;
  font-size: 40px ;
  text-align: center ;
  padding-top: 20px;
  font-weight: 600 ;
  display: flex ;
  align-items:center ;
  justify-content: center ;
}
.login__button{
  border: none ;
  outline: none ;
  display: flex ;
  align-items:center ;
  justify-content: center ;
  margin-top: 10px ;
  background-color: #5865F2  ;
  color: white ;
  padding: 20px ;
  border-radius: 10px ;
  width: 500px  ;
  height: 80px ;
  font-size: 20px ;
  cursor: pointer ;
  font-weight: 700;
}
@media only screen and (min-width: 860px) {

  .login__bg{
    background-color: #424549;

    overflow-y: scroll;
   
  }
}